.settings-main {
    background-color: $colorCommonBG;
    min-height: 600px;
    padding-top: 40px;

    &__title {
        margin-bottom: 30px;
        font-size: 26px;
        font-weight: 900;
        color: $colorBlack;
    }

    &__text {
        font-size: 21px;
        font-weight: 700;
        color: $colorBlack;

        @include respond-to-min($md) {
            max-width: 600px;
        }
    }
}

.mail-link {
    color: $colorLightBlue;
    font-size: 21px;
    font-weight: 700;
    display: block;
    padding-top: 5px;

    @include respond-to-min($md) {
        display: inline;
        padding-left: 5px;
    }
}